.LeftSubSectionButton {
  padding: 15px 60px;
  /* width: 200px; */
  height: 50px;
  background-color: #009560;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  flex-wrap: wrap;
}
.color{
  background-color:#353535;
}

@media (max-width:400px) {  /* small phones */
  .LeftSubSectionButton {
    text-align: center; 
    font-size: smaller;
     padding: 5px 10px;
  }
}
@media (max-width: 600px) {
  .LeftSubSectionButton {
    padding: 10px 20px;
    font-size: medium;
  }
}
@media (max-width: 1100px) {
  .LeftSubSectionButton {
    padding: 15px 50px;
    font-size: medium;
  }
  
}
@media (max-width:890px) {
  .LeftSubSectionButton {
    padding: 15px 35px;
    font-size: medium;
  }
  
}